@model (IEnumerable<SmartHomeApp.Models.Device>, SmartHomeApp.Models.DeviceFilterViewModel)


<head>
    ...
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var typingTimer;
            var doneTypingInterval = 500;
            var $input = $('#searchString');
            var $status = $('#status');
            var $installationDate = $('#installationDate');

            $input.on('input', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            $status.on('change', function () {
                filterDevices();
            });

            $installationDate.on('change', function () {
                filterDevices();
            });

            function doneTyping() {
                var searchString = $input.val();
                var status = $status.val();
                var installationDate = $installationDate.val();

                $.ajax({
                    url: '@Url.Action("Search")',
                    type: 'POST',
                    data: { searchString: searchString, status: status, installationDate: installationDate },
                    success: function (result) {
                        $('#_DeviceList').html(result);
                    }
                });
            }
        });
    </script>


</head>

<h1>Устройства</h1>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <input asp-for="Item2.SearchString" class="form-control" placeholder="Поиск по названию и локации" id="searchString">
        </div>
        <div class="col-md-9">
            <a asp-action="Create" class="btn btn-primary float-end">Добавить новое устройство</a>
        </div>
    </div>

</form>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Модель</th>
            <th>Местоположение</th>
            <th>Дата установки</th>
            <th>Статус</th>
            <th>Дата последнего обслуживания</th>
            <th>Цена подписки</th>
            <th>Период подписки</th>
        </tr>
    </thead>
    <tbody id="_DeviceList">
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DeviceId)</td>
                <td>@Html.DisplayFor(modelItem => item.DeviceName)</td>
                <td>@(item.Model != null ? Html.DisplayFor(modelItem => item.Model.ModelName) : "Не указано")</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.InstallationDate)</td>
                <td>@(item.Status != null ? Html.DisplayFor(modelItem => item.Status.StatusName) : "Не указано")</td>
                <td>@Html.DisplayFor(modelItem => item.LastMaintenance)</td>
                <td>@Html.DisplayFor(modelItem => item.SubscriptionPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.SubscriptionPeriod)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeviceId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.DeviceId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeviceId" onclick="return confirm('Вы уверены, что хотите удалить это устройство?');">Удалить</a>

                </td>
            </tr>
        }
    </tbody>
    
</table>
